---
import Pill from "@components/ui/Pill.astro";
import { ExperienceData } from "@type/types";

const { date, title, description, technologies } = Astro.props as ExperienceData;
---

<li class="timeline-item">
    <div class="timeline-marker"></div>
    <time class="timeline-date">{date}</time>
    <p class="timeline-title">{title}</p>
    <p class="timeline-text">{description}</p>
    <div class="technologies">
        {
            technologies.map(tech => 
                <Pill label={tech.label} color={tech.color} />
            )
        }
    </div>
</li>

<style>
    .timeline-item {
        margin-bottom: 60px;
        position: relative;
        padding-left: 16px;

        & .technologies {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
        }

        & .timeline-marker {
            position: absolute;
            top: 0.375rem;
            left: -1.56rem;
            --size: 16px;
            width: var(--size);
            height: var(--size);
            background-color: var(--c2);
            border: 2px solid var(--c3);
            border-radius: 50%;
        }

        & .timeline-date {
            display: block;
            margin-bottom: 8px;
            font-size: 0.875rem;
            color: #9ca3af;
            font-weight: bold;
        }

        & .timeline-title {
            font-size: 1.125rem;
            font-weight: 600;
            color: var(--c2);
            margin-bottom: 8px;
        }

        & .timeline-text {
            font-size: 1rem;
            color: #6b7280;
            margin-bottom: 16px;
        }
    }

    html:not(.dark) .timeline-item {
        & .timeline-marker {
            background-color: #000;
            border: 2px solid #fff;
        }

        & .timeline-date {
            color: #212121;
        }

        & .timeline-title {
            color: var(--c1);
        }

        & .timeline-text {
            color: #000;
        }
    }
</style>
