---
import Pill from "@components/ui/Pill.astro";
import ComputerIcon from "@icons/computer.svg";
import GithubIcon from "@icons/social-media/github.svg";
import { Project, Technology } from "@type/types";
import ProjectLink from "./ProjectLink.astro";

interface Props {
    item: Project;
}

const { item } = Astro.props;
const url = `/img/${item.src}`;
---

<article class="project-item">
    <p>{item.titulo}</p>
    <div class="project-content">
        <img
            class="project-img"
            src={url}
            alt={item.alt}
            loading="lazy"
            fetchpriority="low"
        />
        <ProjectLink
            text="Demo"
            url={item.web}
            ariaLabel={`link to ${item.titulo} project demostration`}
        >
            <ComputerIcon slot="icon" stroke="#fff" />
        </ProjectLink>
        <ProjectLink
            text="Source Code"
            url={item.git}
            ariaLabel={`link to ${item.titulo} repository`}
            className="tr"
        >
            <GithubIcon slot="icon" stroke="#fff" />
        </ProjectLink>
    </div>
    <div class="project-pills">
        {
            item.technologies.map((tech: Technology) => (
                <Pill color={tech.color} label={tech.label} />
            ))
        }
    </div>
</article>

<style>
    .project-item {
        text-align: center;

        & p {
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }

        & .project-content {
            position: relative;
            width: 100%;
            max-width: 530px;
            aspect-ratio: 16 / 10;
            border: 1px solid var(--c2);
            background-color: var(--c3);
            border-radius: 10px;

            & .project-img {
                border-radius: 10px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        & .project-pills {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            margin: 10px 0;
        }
    }
</style>
