---
type ClassType = "navigation" | "link";

interface Props {
    url: string;
    classType: ClassType;
    ariaLabel: string;
    target?: astroHTML.JSX.HTMLAttributeAnchorTarget;
}

const { url, ariaLabel, classType, target = "_self" } = Astro.props;
---

<a
    role={classType}
    target={target}
    class={classType}
    aria-label={ariaLabel}
    href={url}
    rel="noopener noreferrer"
>
    <slot />
</a>

<style>
    .navigation {
        color: color-mix(in srgb, var(--c2), #000 45%);
        font-size: inherit;

        &:hover {
            color: var(--c2);
            filter: drop-shadow(0 0 15px #fff);
        }
    }

    .link {
        color: var(--c4);
        font-size: inherit;
    }

    html:not(.dark) .navigation {
        color: color-mix(in srgb, var(--c1), #fff 15%);

        &:hover {
            color: var(--c1);
            filter: drop-shadow(0 0 5px #000);
        }
    }

    html:not(.dark) .link {
        color: color-mix(in srgb, var(--c4), #000 15%);
    }
</style>
